#PDF
setname = PDF4LHC15_nnlo_100
usemember = 0
fitPDF = false

#process
#COM energy [TeV]
sqrtS = 13
process = DY
#LO (0), NLO (1), NNLO (2)
fixed_order = 0

#RESUM: pQCD (1), SCET (2), both (3)
resum = 2
# resum gamma_E in pQCD
inceuler = 1

#scales [GeV]
#renormalization scale
muR = 500
#factorization scale 
muF = 940 
#hard scale
Q = 500
#SCET hard scale 
muh = 500
#SCET soft scale
mus = 38
setdym = false

#Mass parameters [GeV]
MZ = 91.8
MW = 80.419002
mh0 = 125.
mt = 173.1
mb = 4.18

#SUSY
setSUSY = 0.
tanb = 1.
