#PDF
setname = PDF4LHC15_nnlo_100
usemember = 0
fitPDF = false

#process
#COM energy [TeV]
sqrtS = 13

#RESUM: pQCD (1)
resum = 1
# resum gamma_E in pQCD
inceuler = 1

#scales [GeV]
#renormalization scale
muR = 500
#factorization scale 
muF = 500 
#hard scale
Q = 500

#Mass parameters [GeV]
MZ = 91.8
MW = 80.419002
mh0 = 125.
mt = 173.1
mb = 4.18
